In [1]:
!pip3 install mysql

Collecting mysql
  Downloading mysql-0.0.3-py3-none-any.whl.metadata (746 bytes)
Collecting mysqlclient (from mysql)
  Downloading mysqlclient-2.2.5-cp312-cp312-win_amd64.whl.metadata (4.8 kB)
Downloading mysql-0.0.3-py3-none-any.whl (1.2 kB)
Downloading mysqlclient-2.2.5-cp312-cp312-win_amd64.whl (207 kB)
Installing collected packages: mysqlclient, mysql
Successfully installed mysql-0.0.3 mysqlclient-2.2.5

In [2]:
#bibliioteca mysql

import mysql.connector

In [5]:
minha_conexao_mysql = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
)

meu_cursor = minha_conexao_mysql.cursor()
meu_cursor.execute("SHOW DATABASES")

for z in meu_cursor:
    print(z)

('contato_facil',)
('information_schema',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('test',)
('teste2',)
('teste3',)

In [6]:
#criamos nossa base de dados
meu_cursor.execute("CREATE DATABASE diogenesbd2")

In [7]:
meu_cursor.execute("CREATE DATABASE base1")
meu_cursor.execute("CREATE DATABASE base2")
meu_cursor.execute("CREATE DATABASE base3")
meu_cursor.execute("CREATE DATABASE base4")

In [10]:
meu_cursor.execute("USE diogenesbd2")

In [11]:
meu_cursor.execute("CREATE TABLE dados_pessoais (nome VARCHAR(255), endereco VARCHAR(255))")

In [12]:
meu_cursor.execute("SHOW TABLES")

for z in meu_cursor:
    print(z)

('dados_pessoais',)

In [13]:
meu_cursor.execute("CREATE TABLE dados_pessoais_2 (id INT AUTO_INCREMENT PRIMARY KEY, nome VARCHAR(255), endereco VARCHAR(255))")

In [15]:
meu_cursor.execute("ALTER TABLE dados_pessoais ADD COLUMN cpf INT PRIMARY KEY")

In [16]:
sql = "INSERT INTO dados_pessoais (nome, endereco) VALUES (%s, %s)"
valor = ("Diogenes Carvalho Matias", "Avenida Genreal Manoel Rabelo")
meu_cursor.execute(sql, valor)

In [18]:
minha_conexao_mysql.commit()

print(meu_cursor.rowcount, "nossa linha foi inserida.")

1 nossa linha foi inserida.

In [21]:
sql = "INSERT INTO dados_pessoais_2(nome, endereco) VALUES (%s, %s)"
valor = ("Lucas", "Avenida da paz")
meu_cursor.execute(sql, valor)

In [22]:
sql = "INSERT INTO dados_pessoais_2 (nome, endereco) VALUES (%s, %s)"
valor = ("Carlos", "Avenida do amor")
meu_cursor.execute(sql, valor)

In [23]:
sql = "INSERT INTO dados_pessoais_2 (nome, endereco) VALUES (%s, %s)"
valor = ("Rafael", "Avenida da alegria")
meu_cursor.execute(sql, valor)

In [24]:
minha_conexao_mysql.commit()

print(meu_cursor.rowcount, "nossa linha foi inserida.")

1 nossa linha foi inserida.

In [25]:
sql = "INSERT INTO dados_pessoais_2 (nome, endereco) VALUES (%s, %s)"
valores = [

    ('Vitoria', 'Rua 16'),
    ('Andre', 'Rua 133'),
    ('Pedro', 'Rua 13'),
    ('Chico', 'Rua 633')
]

In [26]:
meu_cursor.executemany(sql,valores)

minha_conexao_mysql.commit()

print (meu_cursor.rowcount, "nossa linha foi adicionada.")

4 nossa linha foi adicionada.

In [27]:
meu_cursor.execute("SELECT *FROM dados_pessoais_2")

In [28]:
nosso_resultado = meu_cursor.fetchall()

In [29]:
for x in nosso_resultado:
    print(x)

(1, 'Lucas', 'Avenida da paz')
(2, 'Carlos', 'Avenida do amor')
(3, 'Rafael', 'Avenida da alegria')
(4, 'Vitoria', 'Rua 16')
(5, 'Andre', 'Rua 133')
(6, 'Pedro', 'Rua 13')
(7, 'Chico', 'Rua 633')

In [39]:
# sql = "SELECT * FROM dados_pessoais_2 WHERE nome = 'Vitoria'"

sql = "SELECT * FROM dados_pessoais_2 WHERE nome = 'Carlos'"

In [40]:
meu_cursor.execute(sql)

In [41]:
nosso_resultado = meu_cursor.fetchall()

In [42]:
for x in nosso_resultado:
    print(x)

(2, 'Carlos', 'Avenida do amor')

In [51]:
sql = "SELECT * FROM dados_pessoais_2 WHERE endereco LIKE '%ua%'"

In [52]:
meu_cursor.execute(sql)

In [65]:
nosso_resultado = meu_cursor.fetchall()

SyntaxError: incomplete input (202159753.py, line 1)

In [54]:
for x in nosso_resultado:
    print(x)

(4, 'Vitoria', 'Rua 16')
(5, 'Andre', 'Rua 133')
(6, 'Pedro', 'Rua 13')
(7, 'Chico', 'Rua 633')

In [55]:
sql = "SELECT *FROM dados_pessoais_2 ORDER BY nome"

In [56]:
meu_cursor.execute(sql)

In [57]:
nosso_resultado = meu_cursor.fetchall()

In [58]:
for x in nosso_resultado:
    print(x)

(5, 'Andre', 'Rua 133')
(2, 'Carlos', 'Avenida do amor')
(7, 'Chico', 'Rua 633')
(1, 'Lucas', 'Avenida da paz')
(6, 'Pedro', 'Rua 13')
(3, 'Rafael', 'Avenida da alegria')
(4, 'Vitoria', 'Rua 16')

In [61]:
sql = "SELECT *FROM dados_pessoais_2 ORDER BY nome DESC"

In [62]:
meu_cursor.execute(sql)

In [63]:
nosso_resultado = meu_cursor.fetchall()

In [64]:
for x in nosso_resultado:
    print(x)

(4, 'Vitoria', 'Rua 16')
(3, 'Rafael', 'Avenida da alegria')
(6, 'Pedro', 'Rua 13')
(1, 'Lucas', 'Avenida da paz')
(7, 'Chico', 'Rua 633')
(2, 'Carlos', 'Avenida do amor')
(5, 'Andre', 'Rua 133')